body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
    background: #fff;
    color: #4c4948;
}
button{ list-style-type:none;padding: 0}
a:link, a:visited {text-decoration: none;}
a {cursor: pointer;}
input{outline: none}
i, h1, h2, h3, h4, h5, h6, ul, li, img, ol, dl, dd, dt, p, input, span, a {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
}
span.disableBtn input{cursor: not-allowed}
/*分页效果*/
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px; line-height: 25px;  padding: 0 10px;border: 1px solid #ddd; margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca; border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{ display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px; color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
/*首页*/
.dbnav{height: 30px;color: #868686;background: #f5f5f5;}
.dbnav_context {width: 1000px;height: 30px;margin: 0 auto;line-height: 30px;position: relative;z-index: 22;}
.dbnav_context_left {
    float: left;
    width: 400px;
    font-size: 14px;
    height: 30px;
    /*padding-top: 2px;*/
}
.dbnav_context_left img {vertical-align: bottom;float: left;padding-top: 6px;}
.dbnav_context_left span {font-size: 13px}
.dbnav_context_right {
    float: right;
    font-size: 13px;
    height: 30px;
    margin-left: 212px;
}
.dbnav_context_right a, .grdbnav_context_right a {
    padding-left: 10px;
    color: #2DA5E1;
}
.top {
    width: 1000px;
    height: 92px;
    padding-top: 12px;
    margin: 0 auto;
    position: relative;
}
.top_left {
    width: 593px;
    height: 75px;
    float: left;
}
.top_search {
    float: right;
    width: 315px;
    height: 38px;
    line-height: 38px;
    text-align: left;
    margin-top: 17px;
    padding-top: 0px;
    padding-left: 12px;
    background: url(../images/serch.jpg) no-repeat;
    position: relative;
    box-sizing:content-box;
    font: medium; 
}
.option {
    float: left;
    overflow: hidden;
    width: 58px;
    height: 38px;
    line-height: 38px;
    color: #FFF;
    font-size: 14px;
}
.sbox {
    float: left;
    margin-top: 1px;
    font-weight: bold;
    width: 217px;
    height: 36px;
}
.sbox input {
    width: 208px;
    height: 26px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
    font-size: 14px;
    display: inline;
    line-height: 26px;
    color: #A5A2A2;
    font-size: 13px;
    border: 0px;
    position: absolute;
    z-index: 0;
    margin-left: 5px;
    padding: 5px 0;
}
.sbtn {
    float: left;
    width: 38px;
    height: 31px;
    text-align: left;
}
.sbtn input {
    width: 37px;
    height: 32px;
    margin: 4px 0 0 0;
    color: #4c4948;
    font: bold 18px "Hiragino Sans GB,Microsoft YaHei,微软雅黑,宋体,Arial,Verdana,sans-serif";
    border: 0;
    cursor: pointer;
    line-height: 26px;
    background: none;
}
.sbArea{
    width: 67px;
    line-height: 24px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
    font-size: 13px;
    color: #d78100;
    /*_border: 1px solid #fec109;*/
    position: absolute;
    z-index: 20;
    background: #fff;
    left: 0%;
    /*_left: 0%;*/
    top: 92%;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    display: none;
}
.sbArea a {
    float: left;
    color: #A5A2A2;
    text-decoration: none;
}
.sbArea div {
    float: left;
    width: 67px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
/*头部结束*/
.index_nav_border {
    width: 100%;
    height: 36px;
    min-width: 1000px;
    background-color: #60bff2;
}
.index_nav {
    width: 1000px;
    height: 36px;
    margin: 0 auto;
}
.index_nav_ul {
    width: 864px;
    height: 36px;
    float: left;
    line-height: 36px;
    /*_width: 870px;*/
}
.index_nav_ul li {float: left;text-align: center;height: 36px;margin-left: 39px;float: left;text-align: center;height: 36px;margin-left: 30px;}
.index_nav_ul .index_nav_lic {
    width: 190px;
    margin-left: 0;
    background: #1fa4f0;
    font-size: 16px;
    color: #ffffff;
}
.index_nav_ul li a {
    font-size: 16px;
    color: #fff;
    display: inline-block;
}
.index_top_c {
    width: 1000px;
    margin: 0 auto;
    height: 432px;
}
.index_top_left {
    float: left;
    width: 190px;
    height: auto;
    position: relative;
    z-index: 2;
}
.top_left>a>img{margin-top: 10px}
.index_top_guid {
    width: 190px;
    height: 425px;
    border: 1px solid #54C2F0; 
    font-size: 13px;
}
.index_top_nav {
    width: 190px;
    min-height: 383px; 
    overflow: hidden;
}
.index_top_nav>li {
    padding-left: 8px;
    cursor: pointer;
    width: 182px;
    height: 39px;
    line-height: 39px;
    background: #1fa4f0;
    float: left;
}
.index_top_nav li .i_t_s1, .index_top_nav li .i_t_s2, .index_top_nav li .i_t_s3, .index_top_nav li .i_t_s4, .index_top_nav li .i_t_s5, .index_top_nav li .i_t_s6, .index_top_nav li .i_t_s7, .index_top_nav li .i_t_s8, .index_top_nav li .i_t_s9, .index_top_nav li .i_t_s10, .index_top_nav li .i_t_s11, .index_top_nav li .i_t_s12, .index_top_nav li .i_t_s13, .index_top_nav li .i_t_s14, .index_top_nav li .i_t_s15, .index_top_nav li .i_t_s16, .index_top_nav li .i_t_s17, .index_top_nav li .i_t_s18, .index_top_nav li .i_t_s19, .index_top_nav li .i_t_s20, .index_top_nav li .i_t_s21, .index_top_nav li .i_t_s22, .index_top_nav li .i_t_s23, .index_top_nav li .i_t_s24, .index_top_nav li .i_t_s25, .index_top_nav li .i_t_s26, .index_top_nav li .i_t_s27, .index_top_nav li .i_t_s28, .index_top_nav li .i_t_s29 {
    display: inline-block;
    width: 21px;
    height: 22px;
    float: left;
    background: url(../images/index_icon.jpg) 0 0 no-repeat;
    margin-top: 9px;
    font-size: 1px;
}
.index_top_nav li .i_t_s1 {
    background-position: -22px 0px;
}
.index_top_nav li.navCurrent .i_t_s1 {
    background-position: 0px 0px;
}
.index_top_nav li span {
    display: inline-block;
    color: #4c4948;
    text-decoration: none;
    margin-left: 8px;
    width: 150px;
    float: left;
}
.index_top_nav li span b {
    display: inline-block;
    color: #fff;
    float: left;
    font-weight: normal;
}
.index_top_nav li span a {
    display: inline-block;
    font-size: 12px;
    float: right;
    margin-right: 5px;
    color: #d7f3ff;
}
.index_jdt {
    float: left;
    width: 545px;
    height: 414px;
    margin-left: 8px;
    position: relative;
    margin-top: 8px;
}
.ksbz {
    width: 250px;
    float: left;
    overflow: hidden;
    margin: 8px 0 0 6px;
}
.subscribe {
    width: 250px;
    /*border: 1px solid #dcdddd; */
    padding-bottom: 16px;
    background: #fafafa;
    height: 239px;
}
.subscribe h2 {
    font-size: 16px;
    width: 250px;
    text-align: center;
    color: #4c4948;
    height: 32px;
    font-weight: normal;
    padding-top: 15px;
    margin-bottom: 5px;
}
.subscribe h2 span {
    display: inline-block;
    width: 72px;
    height: 22px;
    background: url(../images/inde_helpico.png) 0 0 no-repeat;
    /*_background: url(../images/inde_helpico8.png) 0 0 no-repeat;*/
    vertical-align: bottom;
    line-height: 22px;
    color: #fec009;
    padding-left: 23px;
}
.subscribe p {
    width: 170px;
    margin: 0 auto;
    padding-bottom: 9px;
    height: 27px;
    clear: both;
}
.subscribe_p_select {
    width: 170px;
    font-size: 12px;
    z-index: 0;
    /* background: url(../images/select_bg.png) 0px 0px no-repeat; */
    border: 1px solid #dcdddd;
    height: 26px;
    line-height: 26px;
    padding: 2px 0px;
    padding-right: 0px;
    color: #666;
    clear: both;
}
.ksbz_kscx {
    display: inline-block;
    width: 108px;
    height: 31px;
    line-height: 31px;
    background: url(../images/syks_anniu.png) no-repeat;
    margin-left: 69px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    clear: both;
    margin-top: 6px;
}
.index_top_nav_p, .index_top_nav_p2 {
    float: left;
    height: 31px;
    line-height: 31px;
    border-right: 1px solid #1fa4f0;
}
.index_top_nav_p {
    width: 189px;
    background: #1fa4f0;
    border-bottom: 1px solid #1fa4f0;
}
.index_top_nav_p .index_top_a_none, .index_top_nav_p2 .index_top_a_none {
    display: inline-block;
    width: 152px;
    height: 31px;
    line-height: 31px;
    font-size: 13px;
    margin-right: 0;
    margin-left: 8px;
    float: left;
}
.index_top_navbar .index_top_nav_p .i_t_qt {
    display: inline-block;
    width: 21px;
    height: 22px;
    float: left;
    background: url(../images/index_icon.jpg) 0 0 no-repeat;
    margin-top: 5px;
    font-size: 1px;
    margin-left: 6px;
}
.index_top_navbar .index_top_nav_p .i_t_qt {
    background-position: -22px -616px;
}

.index_top_nav_p .index_top_a_none {
    color: #fff;
}
.ksbz_help {
    width: 250px;
    height: 146px;
    /*border: 1px solid #dcdddd; */
    margin-top: 12px;
    background: #fafafa;
}
.ksbz_help h2 {
    font-size: 16px;
    width: 250px;
    text-align: center;
    height: 32px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #868686;
    padding-top: 15px;
}
.ksbz_help h2 span {
    color: #4ab4ed;
    display: inline-block;
    width: 72px;
    height: 22px;
    background: url(../images/inde_helpico.png) 0 -23px no-repeat;
    /*_background: url(../images/inde_helpico8.png) 0 -23px no-repeat;*/
    vertical-align: bottom;
    line-height: 22px;
    padding-left: 23px;
}
.ksbz_help_an {
    width: 243px;
    height: 75px;
}
.ksbz_h_a {
    width: 86px;
    height: 26px;
    display: inline-block;
    /* background: url(../images/inde_help.jpg) no-repeat; */
    text-align: center;
    line-height: 26px;
    color: #00B3EA;
    font-size: 14px;
    margin-left: 26px;
    float: left;
    margin-bottom: 8px;
}
/*导航详情*/
.index_top_hdvalue{position: absolute;left: 0px;}
.index_top_con_st {
    width: 500px;
    background: #FFF;
    float: left;
    font-size: 14px;
}
.index_top_con_zwc {
    width: 500px;
    /* height: 100%; */
    overflow: hidden;
}
.index_top_con_w {
    margin-bottom: 20px;
}
.index_top_hdvalue_p span {
    display: inline-block;
    height: 34px;
    text-align: left;
    line-height: 34px;
    color: #666;
    font-size: 14px;
}
.index_top_hdvalue_ul {
    width: 500px;
    overflow: hidden;
}
.index_top_hdvalue_ul li {
    padding: 2px 12px 2px 0px;
    float: left;
    white-space: nowrap;
    height: 23px;
    line-height: 23px;
}
.index_top_hdvalue_ul li a {
    display: inline-block;
    color: #868686;
    float: left;
    margin-right: 12px;
    font-size: 12px;
}
.index_top_hdvalue_ul li i {
    display: inline-block;
    width: 1px;
    height: 15px;
    font-size: 1px;
    background: #e5e5e5;
    float: left;
    margin-top: 4px;
}
/*导航详情1结束*/

/*导航详情2开始*/
.index_top_showvalue {
    /*border: 1px solid #54c2f0;*/
    width: 500px;
    height: 392px;
    padding-bottom: 10px;
    z-index: 2222;
    position: absolute;
    /*display: none;*/
    top: 0;
    left: 190px;
    padding-left: 29px;
    padding-top: 20px;
    padding-right: 10px;
    /* overflow: hidden; */
    box-shadow: 3px 1px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 3px 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 3px 1px 3px rgba(0,0,0,.2);
    /*_border-right: 1px solid #dcdddd;
    _border-bottom: 1px solid #dcdddd;*/
    /*background: url(../images/index_zcdhbg.jpg) no-repeat #fff;*/
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}
/*导航详情2结束*/

.medicine_guide{width: 1000px;margin: 0 auto;margin-top: 20px;overflow: hidden;}
/*.medicine_guide_header{width: 742px}*/
.medicine_guide_content{width: 742px;margin-top: 10px;overflow: hidden;}
.medicine_guide_content div{float: left;}
.imagebox img{width: 265px; height: 154px}
/*.medicine_guide h2{height: 34px}*/
.medicine_guide_header{height: 34px;background: #f4f6fa}
.medicine_guide_header span{display: inline-block;line-height: 34px;font-size: 16px;width: 112px;text-align: center;}
.medicine_guide_header span.current{background: #60bff2;color: #fff}
.medicine_guide_content>div{margin-right: 10px}
.medicine_guide_content p{padding-left: 8px}
.medicine_guide_content p{font-size: 14px}
.medicine_guide_content p em,.medicine_news p em{color: #1fa4f0;font-size: 12px}
.medicine_guide_content p.guide_text{text-indent: 2em;line-height: 22px}
.guide_text p:first{color: #00B3EA}
.medicine_guide_content p:first{margin-bottom: 10px}
.templatemo_list li.flow {float: left;margin-right: 10px;width: 190px;margin: 10px 8px 0 8px}
.templatemo_list{font-size: 14px}
.medicine_news p{margin-left: 10px;margin-top: 10px}
.templatemo_list li {
    color: #58503f;
    margin: 0 0 10px;
    padding: 0 5px 0 18px;
    background: url(../images/list-tick.png) no-repeat scroll 0 4px;
}
.templatemo_list li a{color: #969696}
.index_top_nav li.navCurrent{background: #fff;}

.index_top_nav li.navCurrent b{color: #000;}
.index_top_nav li.navCurrent a{color: #4c4948}

.medicine_guide_left{float: left;width: 742px}
.medicine_guide_right{float: right;width: 250px;height: 513px}
.index_new_gg {
    width: 248px;
    overflow: hidden;
    margin: 0 0 11px 0;
    /* border: 1px solid #dcdddd; */
    border: 1px solid #f4f6fa;
}
.index_new_gg_title {
    width: 248px;
    height: 38px;
    background: #f4f6fa;
}
.index_new_gg_title h2 {
    float: left;
    width: 100px;
    height: 38px;
    line-height: 38px;
    /* background: url(../images/grzx_top_xz.jpg) no-repeat; */
    text-align: center;
    color: #fec009;
    font-size: 15px;
    font-weight: normal;
}
.index_new_gg_title a {
    float: right;
    color: #868686;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    border-left: 1px solid #b5b5b5;
    margin-top: 12px;
    padding-left: 6px;
    margin-right: 21px;
}
.index_new_gul {
    width: 200px;
    overflow: hidden;
    padding: 12px 24px;
    background: url(../images/gongg.jpg) 21px 20px no-repeat;
}
.index_new_gul li {
    width: 225px;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
}
.index_new_gul li a {
    color: #969696;
    display: inline-block;
    padding-left: 17px;
}
.index_tz_gg {
    width: 248px;
    overflow: hidden;
    margin: 0 0 24px 0;
    /* border: 1px solid #dcdddd; */
    border: 1px solid #f4f6fa;
}
.index_tz_gg_title {
    width: 248px;
    height: 38px;
    background: #f4f6fa;
}
.index_tz_gg_title h2 {
    float: left;
    width: 100px;
    height: 38px;
    line-height: 38px;
    /* background: url(../images/grzx_top_xz.jpg) no-repeat; */
    text-align: center;
    color: #4ab4ed;
    font-size: 15px;
    font-weight: normal;
}
.index_tz_gg_title a {
    float: right;
    color: #868686;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    border-left: 1px solid #b5b5b5;
    margin-top: 12px;
    padding-left: 6px;
    margin-right: 21px;
}
.index_tz_gul {
    width: 200px;
    overflow: hidden;
    padding: 13px 24px;
    background: url(../images/gongg2.jpg) 21px 20px no-repeat;
}
.index_tz_gul li {
    width: 225px;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
}
.index_tz_gul li a {
    color: #969696;
    display: inline-block;
    padding-left: 17px;
}

/*底部*/
.index_footer{height: 76px;background: #eceef2;margin-top: 20px}
.templatemo_footer{width: 1000px;margin: 0 auto;text-align: center;line-height: 76px}


/*按疾病挂号页面*/
.nav_index{ width: 100%;height: 36px; min-width: 1000px;background-color: #60bff2;overflow: hidden;}
.nav_box{width: 1000px;height: 36px;margin: 0 auto;}
.nav_ul {
    width: 864px;
    height: 36px;
    float: left;
    line-height: 36px;
    /*_width: 870px;*/
}
.nav_ul li {
    float: left;
    text-align: center;
    height: 36px;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav_ul li a {
    font-size: 16px;
    color: #fff;
    display: inline-block;
}
.nav_ul li.nav_color {
    background: #1fa4f0;
}
.ksgh_top {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 17px;
}
.ksgh_top_title {
    border-bottom: 2px solid #49a6d8;
    height: 30px;
    margin-top: 20px;
}
.ksgh_top_p {
    background: url(../images/nav_li_a.jpg) no-repeat;
    width: 126px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    padding-left: 19px;
}
.ksgh_top_content {
    width: 998px;
    overflow: hidden;
    border: 1px solid #dcdddd;
    border-top: 0;
}
.ksgh_top_ul {
    float: left;
    width: 880px;
    overflow: hidden;
    padding-left: 18px;
}
.ksgh_top_ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    width: 120px;
}
.ksgh_top_ul li a {
    color: #555;
    font-size: 13px;
}
.ksgh_top_block {
    display: inline-block;
    color: #1fa4f0;
    text-decoration: underline;
    font-size: 13px;
    width: 100px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    float: left;
    padding-top: 34px;
}
.ksgh_top_ul2 {
    float: left;
    width: 880px;
    overflow: hidden;
    padding-left: 18px;
    display: none;
}
.ksgh_top_ul2 li {
    width: 120px;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.ksgh_top_ul2 li a {
    color: #4c4948;
}
.ksgh_c_content {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.ksgh_c{
    /*width: 735px;*/
    overflow: hidden;
    border: 1px solid #dcdddd;
    padding-top: 23px;
    padding-left: 18px;
    padding-right: 15px;
    /*margin-left: 17px;*/
    margin-bottom: 22px;
    font-size: 12px;
}
.ksgh_c_p span {
    display: inline-block;
    width: 117px;
    height: 34px;
    text-align: left;
    line-height: 34px;
    border-bottom: none;
    color: #00B3EA;
    padding-left: 22px;
    font-size: 13px;
}
.ksgh_c_p {
    border-bottom: 1px dashed #dcdddd;
}
.ksgh_c_table {
    margin: 10px 0 10px 19px;
    width: 972px;
    overflow: hidden;
}
.ksgh_c_table tr td a {
    color: #777;
    line-height: 26px;
}
/*按疾病挂号-end*/

/*按疾病挂号详情-start*/
.ksghny_top {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    background: #fbfbfb;
    padding-bottom: 20px;
}
.ksghny_top h3 {
    width: 972px;
    height: 29px;
    font-size: 15px;
    font-weight: normal;
    padding-left: 28px;
    padding-top: 12px;
    color: #555;
}
.ksghny_top h3 a {
    margin-left: 12px;
    color: #2ca6e0;
    font-size: 13px;
    text-decoration: underline;
}
.dissease_introduce{border: 1px solid #dcdddd;border-top: 2px solid #49a6d8;width: 1000px;margin: 0 auto;margin-top: 10px}
.dissease_introduce>span{font-size: 18px;padding-left: 28px;}
.dissease_introduce>p{padding-left: 28px;padding-top: 10px;font-size: 14px;text-indent: 2em;padding-right: 10px}
.dissease_introduce>b{padding-left: 28px;margin-top: 10px}
.dissease_introduce>div{font-size: 14px;display: inline-block;margin-top: 6px}
.doctorInfo{width: 1000px;height: 130px;border: 1px solid #ccc;margin: 0 auto;margin-top: 19px}
.doctorInfo>div.leftInfo,.leftInfo>div,.rightInfo>div{float: left;}
.doctorInfo>div.rightInfo{float: right}
.doctorImg{margin-top: 20px;margin-left: 10px}
.doctorImg>img{width: 90px;height: 100px}
.doctorIntroduce>span,.infoLeft>span{display: block;}
.doctorIntroduce{font-size: 14px;margin-top: 26px;margin-left: 10px}
.doctorIntroduce>.doctorName{font-weight: bold;}
.doctorIntroduce>.doctorTitle{color: #50bbeb}
.infoRgiht{margin-right: 10px;margin-top: 33px}
.referencePrice{display: inline-block;margin-right: 4px}
.infoRgiht>div{text-align: center;}
.infoLeft{margin-right: 30px;margin-top: 24px;text-align: center;}
.infoLeft>span{color: #76d3f6}
.infoLeft>p{line-height: 28px}
.rightInfo{font-size: 14px}
.subscribeStatus{width: 156px;height: 26px;color: #fff;background: #52bde9;text-align: center;line-height: 26px;margin-top: 20px;cursor:pointer;display:inline-block;}
.paging_disease_gh,.paging_timeTable{width: 1000px;margin: 0 auto;overflow: hidden;}
.paging_disease_gh .tcdPageCode{float: right;position: relative;left: 22px}

/*按医生挂号*/
.well{overflow: hidden;width: 1000px;margin: 0 auto;}
.inputBox{border: 2px solid #dce4ec;width: 216px;height: 36px;margin-top: 19px;float: left;margin-right: 16px}
   /* font-size: 14px;
    line-height: 20px;
    color: #95a5a6;
    border-radius: 3px;
    padding: 6px;
    text-indent: 1px;
    border: 2px solid #dce4ec;
    border-radius: 3px;
    box-shadow: none;*/
.inputBox>input{width: 208px;height: 36px;padding-left: 6px;text-indent: 1px;box-shadow: none;}
.well>div.btnBox{float: left;margin-left: 11px}
.well>div.btnBox>input{height: 30px;width: 54px;margin-top: 24px;border-radius: 5px;background-color: #428bca;border-color: #357ebd;color: #fff;cursor: pointer;}
.inputBox>span{display: inline-block;width: 54px;height: 36px;line-height: 35px;background: #60bff2;color: #fff;text-align: center;cursor: pointer;}

/*医生出诊表*/
.timeTable{width: 1000px;margin: 0 auto;}
.timeTable caption{font-size: 18px;margin: 10px auto 10px}
.timeTable table{width: 800px;text-align: center;margin-left: 100px; border-collapse: collapse;/* 边框合并属性  */}
.timeTable table td,.timeTable table th{border: 1px solid #ccc;}
.paging_timeTable .tcdPageCode{float: right;position: relative;right: 76px}

/*个人中心*/
li.personalCenter{float: right;}
.personalBox{width: 1000px;margin:0 auto;margin-top: 10px;min-height: 396px;overflow: hidden;position: relative;}
.personalBox>span{position: absolute;right: 4px;top: 12px;}
.personalBox>span>img{width: 20px;height: 20px;margin-right: 2px}
/*个人中心-个人信息*/
div.individual div.formInputBox>input,div.safety div.formInputBox>input{height: 32px}
.individual button,.safety button{width: 70px; height: 36px;border: none;border-radius: 5px;margin-left: 220px;margin-top: 20px}
.patientTable{margin-top: 19px}
/*用户注册*/
.formgroup .errhint{color: red; font-size: 12px; font-weight: bold; display: none; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1000; background: #fff;}
.registerBox{
    width: 998px;
    min-height: 480px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
.registerHeader{
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    line-height: 50px;
    border-bottom: 1px dotted #e3e3e3;
    background: #f6f6f6;
    padding-left: 60px;
    background: url(../images/write.png) 20px center no-repeat;
}
.registerContent{width: 998px; padding: 5px 0;float: left;}
.register_content{ width: 998px; margin: 0 auto;}
.formgroup{margin-top: 15px;height: 32px;line-height: 32px;}
.formgroup>span,.formgroup>label{
    width: 220px;
    float: left;
    text-align: right;
    font-size: 14px;
    vertical-align: middle;
    color: #000;
    padding-right: 10px;
}
.formgroup>.formInputBox{
    width: 210px;
    line-height: 32px;
    float: left;
    height: 32px;
    vertical-align: middle;
}
.formInputBox>input{
    width: 200px;
    height: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 5px;
}
.vertifyBox>input{
    width: 90px;
    height: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    padding: 5px;
  /*  position: relative;
    bottom: 9px;*/
}
.vertifyBox>img{float: right;position: relative;top: 3px}
.hintBox{
    margin-left: 15px;
    float: left;
    position: relative;
    width: 430px;
    /*white-spacing: nowrap;*/
}
.formgroup>.vertifyBox{
    width: 210px;
    line-height: 32px;
    float: left;
    height: 32px;
    vertical-align: middle;
}
.annotation{float: left;color: #B6B6B6;}
.red{color: #f00;}
.annotation .red{
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
}
.formgroup input[type="text"] {
    font-size: 12px;
    padding: 5px;
}
.endDiv>span{font-size: 12px;margin-left: 100px}
.agreementContent{
    border: 1px solid #ccc;
    margin: 0 auto;
    height: 160px;
    overflow: auto;
    padding: 10px;
    display: none;
    margin-bottom: 10px;
    width: 600px;
    margin-left: 150px;
}
.agreementContent p>span{display: inline-block;text-indent: 2em}
.btnBox{margin-left: 140px}
.btnBox a,.btnBox input{color: #fff}
.btn input{
    width: 80px;
    height: 28px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #c2c2c2;
    display: block;
    cursor: pointer;
    line-height: 28px;
    margin-right: 25px;
    border-radius: 2px;
}
.resetBtn{
    width: 87px;
    height: 28px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #FEC009;
    display: block;
    cursor: pointer;
    line-height: 28px;
    margin-right: 25px;
    border-radius: 2px;
}
.resetBtn:hover,.noDisableBtn>input:hover{background: #60bff2}
.registerBox input:focus,.leftLogin input:focus{border: 2px solid #95b7ee;}
.registerBox input[type='submit']:focus{border: none}
/*用户登录*/
.loginBox{width: 1000px;margin: 0 auto;padding-bottom: 20px;border: 1px solid #e0e0e0;margin-top: 40px;overflow: hidden;}
.loginBtn{}
.loginBtn a{
    width: 100px;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: #FEC009;
    display: block;
    margin-top: 20px;
    margin-left: 130px;
}
.loginBox>.leftLogin{width: 560px;float: left;margin: 50px 0;}
.formgroup>label{width: 120px}
.loginBox>.rightLogin{
    width: 350px;
    margin: 30px 0;
    padding-left: 45px;
    border-left: 1px solid #e0e0e0;
    float: right;
    margin-top: 60px;
}
.psdBack{text-align: center;display: block;}
.no_register{
    display: inline-block;
    color: #333;
    width: 74px;
    line-height: 30px;
    background: url(../images/btn_s.png) no-repeat;
    text-align: center;
    font-size: 14px;
}
.tableContent{overflow: hidden;}
/*病人信息*/
.patientInfo .patientInfoHead{margin-top: 14px}
div.patientInfoHead>button{height: 30px}
.patientTable .box,.gh_logCentenr .box{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.table_11 tr>th,.table_11 tr>td{text-align: center;}
.popupDiv .formInputBox>input{height: 32px}
.popupDiv div.gendersBox>input{width: 50px;height: 18px}
.popupDiv .formgroup>.hintBox{width: 180px}
.patientTable .btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.patientTable .btn{
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.patientTable .btn-xs{border: 1px solid #ccc}

/*预约挂号*/
.doctor_info{width: 1000px;margin: 0 auto;overflow: hidden;}
.doctor_info>div{float: left;}
.doctor_info>div>img{width: 126px;height: 165px;border: 1px solid #ccc;padding: 2px;}
.doctorImgBox{margin:10px 40px 10px 10px;}
.doctor_infoContent>div{height: 36px;line-height: 36px;font-size: 16px}
.doctor_infoContent>div>span{display: inline-block;margin-right: 19px;width: 120px;text-align: right;}
div.gh_workTime,div.selectPatient,.selectDoctorTime{width: 1000px;margin: 0 auto;margin-top: 19px;overflow: hidden;}
div.gh_workTime>table{max-width: 100%;border-collapse:collapse;border: 1px;border-spacing: 0;background-color: transparent;}
div.gh_workTime>table>thead td{width: 125px;}
/*div.gh_workTime>table>tbody td{line-height: 32px;}*/
div.gh_workTime>table td{text-align: center;border: 1px solid #2C2C2C;}
/*div.gh_workTime>table td{text-align: center;border: 1px solid #50bde8;}*/
div.gh_workTime>table td>input{margin: 4px 0 0;cursor: pointer;}
div.selectPatient>span,span.DoctortimeBtn{display: inline-block;width: 100px;line-height: 24px;background: #50bde8;color: #fff;cursor: pointer;text-align: center;}
.selectPatientTable{border-collapse: collapse;margin-top: 19px}
.selectPatientTable>tbody>tr{width: 825px}
.selectPatientTable>tbody td{line-height: 24px;text-align: left;}
.selectPatientTable .sone{width: 60px}
.selectPatientTable .stwo{width: 140px}
.selectPatientTable .sthree{width: 120px}
.selectPatientTable .sfour{width: 200px}
.selectPatientTable .sfive{width: 295px}
.selectPatientTable>tbody>tr:nth-of-type(odd) td{background: #f8f9fb}
.selectPatientTable>tbody>tr:nth-of-type(even) td{background: #fff}
/*.selectPatientTable>tbody>tr:nth-child(even){background: #fff}
.selectPatientTable>tbody>tr:nth-child(odd){background: #ccc}*/
/*.selectPatientContent{display: none}*/
.gh_form .btnBox{width: 1000px ;margin: 0 auto;margin-top: 19px;overflow: hidden;}

/*挂号记录*/
table.search-table>tbody>tr>td {
    border: none;
    padding: 1px;
}
.search-table input[type='text'] {
    font-size: 14px;
    line-height: 20px;
    color: #95a5a6;
    border-radius: 3px;
    padding: 6px;
    text-indent: 1px;
    border: 2px solid #dce4ec;
    border-radius: 3px;
    box-shadow: none;
}
.searchTableHead{margin-top: 19px}
.gh_logCentenr table th,.gh_logCentenr table td{text-align: center;}
.abolishTr>button{line-height: 20px;padding: 2px 12px;background: #FEC009;color: #fff;margin-top: 10px;box-shadow:none;}
.gh_fenye{position: relative;bottom: 22px}
.gh_log{margin-top: 19px}